<div class="menu2_Divisiones">
    <div class="menu2_HomeLogo">
        <h4>Home</h4>
        <img src="../../assets/menu2/estrella.png">
    </div>
    <div class="menu2_creacionTweet">
        <div class="menu2_creacionTweet_userTweet">
            <div class="menu2_creacionTweet_userTweet_Contenedorlogo">
                <img src="../assets/menu1/ProfileTest.JPG" class="menu2_creacionTweet_userTweet_logo">
            </div>
            <div class="menu2_creacionTweet_texto">
                <input type="text" placeholder="Tu ya sabes...">
            </div>
            
        </div>
        <div class="menu2_creacionTweet_logos">

        </div>
    </div>
    <div class="3">
        
    </div>
</div>
