<div class="separacionPrincipal">
    <div class="menu1">
        <div class="menu1_logoBocaSuelta">
            <img src="../assets/menu1/logo.png">
        </div>
        <div class="menu1_navegacion">
            <div class="menu1_navegacion_Lista">
                <img src="../assets/menu1/home.png" class="menu1_navegacion_imagenes">
                <p>Home</p>
            </div>
            <div class="menu1_navegacion_Lista">
                <img src="../assets/menu1/Explore.png" class="menu1_navegacion_imagenes">
                <p>Explore</p>
            </div>
            <div class="menu1_navegacion_Lista">
                <img src="../assets/menu1/Notification.png" class="menu1_navegacion_imagenes">
                <p>Notifications</p>
            </div>
            <div class="menu1_navegacion_Lista">
                <img src="../assets/menu1/Message.png" class="menu1_navegacion_imagenes">
                <p>Messages</p>
            </div>
            <div class="menu1_navegacion_Lista">
                <img src="../assets/menu1/Bookmark.png" class="menu1_navegacion_imagenes">
                <p>Bookmarks</p>
            </div>
            <div class="menu1_navegacion_Lista">
                <img src="../assets/menu1/Lists.png" class="menu1_navegacion_imagenes">
                <p>Lists</p>
            </div>
            <div class="menu1_navegacion_Lista">
                <img src="../assets/menu1/Profile.png" class="menu1_navegacion_imagenes">
                <p>Profile</p>
            </div>
            <div class="menu1_navegacion_Lista">
                <img src="../assets/menu1/More.png" class="menu1_navegacion_imagenes">
                <p>More</p>
            </div>
            <div class="menu1_navegacion_Lista">
                <button class="menu1_botonChismes">Chisme</button>
            </div>
        </div>
        <div class="menu1_usuario">
            <div class="menu1_usuario_logos_logoUsuario">
                <img src="../assets/menu1/ProfileTest.JPG" class="menu1_usuario_logoUser_logo">
            </div>
            <div class="menu1_usuario_userName">
                <div class="menu1_usuario_userName_total fakeName">
                    <p>Santi</p>
                </div>
                <div class="menu1_usuario_userName_total realName">
                    <p>@santivasquez</p>
                </div>
            </div>
            <div class="menu1_usuario_logos_logoMas">
                <img src="../assets/menu1/More.png" class="menu1_usuario_logoUser_moreIcon">
            </div>
        </div>
    </div>
    <app-menu2></app-menu2>
    <div class="menu3">Contenido de la tercera área</div>
</div>